:root {
    --sinput: 20%;
    --winput: calc(90% - (var(--sinput) + 6px));
}

table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

table > tr:first-child {
    box-shadow: 0 0 0 0.5px #000000;
}

td,
th {
    border: 1px solid #000;
    text-align: left;
    padding: 8px;
}

#myTr:first-child {
    position: -webkit-sticky;
    /* Safari */
    top: 2px;
    position: sticky;
    background: white;
}

#myTr:nth-child(2n) {
    min-height: 50px;
    background-color: #dddddd;
}

td:empty {
    display: none;
    visibility: hidden;
}